/* 웹폰트 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모든 폰트를 웹폰트로 변경 */
*{ font-family: 'yg-jalnan';  }

.pointbox{ color: red }

.head_profile{
	width:50px; border-radius:30px; border: 1px solid #e8e8e8; padding: 2px;    height: 50px;
}
